.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 7rem;
}

.signin-wrapper {
  background-color: #0f0f0f;
  width: 350px;
  text-align: center;
  padding:8px;
  height: 400px;
}



.highlight {
  color:  #aa68eb;
  text-align: center;
  margin-bottom:1rem;
}

.btn {
  width: 70%;
  height: 40px;
  background-color: #ef4430;
  text-align: center;
  margin-bottom:2rem ;
  border-radius: 5px;}

.new-to-fa {
  float: right;
  margin-top: 5rem;
  color: white;
}
